<template>
  <div class="credits">
    <div class="creditButton" @click="expanded = true">
      <span>{{ strings.get('creditsButton') }}</span>
    </div>
    <div v-if="expanded">
      <div class="modal-background" @click="expanded = false"></div>
      <div class="modal">
        <span v-html="strings.get('credits')" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      expanded: false
    };
  },
  computed: {
    strings() {
      return this.$root.strings;
    }
  }
};
</script>

<style scoped>
/* Styles spécifiques à ce composant */
.creditButton {
  cursor: pointer;
  float: right;
  bottom: 30px;
  right: 10px;
  font-size: 14px;
  color: #aaa;
  margin: 10px 0;
}

.creditButton:hover {
  text-decoration: underline;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal {
  position: fixed;
  z-index: 1;
  background: white;
  border-radius: 16px;
  font-size: 18px;
  width: 480px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - 40px);
  padding: 20px 20px 30px 20px;
}
</style>