<template>
  <div class="presets">
    <table>
      <tr v-for="(rhythm, r_index) in presets" :key="'preset-' + r_index">
        <td>{{ strings.get('presets')[r_index] }}</td>
        <td v-for="c_index in 3" :key="'circle-' + c_index" :track="c_index - 1">
          <svg width="16" height="16" @click="$emit('rhythm-load', c_index - 1, rhythm.pattern)">
            <rect width="16" height="16" />
            <text v-if="active[c_index - 1][r_index]" x="8" y="8">✔</text>
          </svg>
        </td>
      </tr>
    </table>

    <div class="export" @click="exportMidi"><button>{{ strings.get('exportMidi') }}</button></div>
  </div>
</template>

<script>
import { JZZ } from 'jzz';
import { SMF } from 'jzz-midi-smf';
SMF(JZZ);

export default {
  data() {
    return {
      presets: [
        // name is not used anymore, but I'm leaving it for clarity
        { name: 'Tresillo', pattern: [1, 0, 0, 1, 0, 0, 1, 0] },
        { name: 'Son', pattern: [1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0] },
        { name: 'Shiko', pattern: [1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0] },
        { name: 'Soukous', pattern: [1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0] },
        { name: 'Rumba', pattern: [1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0] },
        { name: 'Bossa Nova', pattern: [1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0] },
        { name: 'Gahu', pattern: [1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0] },
        { name: 'Samba', pattern: [1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0] },

        { name: 'Fume Fume', pattern: [1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0] },

        { name: 'Bembé', pattern: [1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1] },
        { name: 'Steve Reich', pattern: [1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0] },
        //{name: 'Stromae', pattern: [1,0,0,0,0,1,0,0,0,1,0,0]},
        //{name: 'Pyramid Song', pattern: [1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0]},

        { name: 'Basic 1', pattern: [1, 0, 0, 0, 0, 0, 0, 0] },
        { name: 'Basic 2', pattern: [1, 0, 0, 0, 1, 0, 0, 0] },
        { name: 'Basic 3', pattern: [1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0] },
        { name: 'Basic 4', pattern: [1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0] },
      ],
    };
  },
  computed: {
    strings() {
      return this.$root.strings;
    },
    circles() {
      return this.$parent.$refs.circles;
    },
    active() {
      let that = this // for visibility through lambdas
      return this.circles.map((circle) =>
        that.presets.map((preset) =>
          that.isActive(preset.pattern, circle)
        )
      )
    }
  },
  methods: {
    exportMidi() {
      let circles = this.circles
      //Ticks per quarter will be the product of subdivisions, to ensure divisibility (SCM would work as well)
      let ticks_per_quarter = 1
      for (let subdiv of this.$parent.subdivisions) {
        ticks_per_quarter = ticks_per_quarter * subdiv
      }
      let smf = new JZZ.MIDI.SMF(1, ticks_per_quarter);

      // Add MIDI file tracks:
      let trk0 = new JZZ.MIDI.SMF.MTrk();
      smf.push(trk0); // First track in Type 1 MIDI file is normally used for tempo changes
      trk0.smfSeqName('Rhythm Circles Export') // The name of the first track serves as the file title
        .smfBPM(this.$parent.tempo * 4); // Tempo. We leave the default 4/4 signature so *4 for bpm from mpm


      let loop_count = 4
      let c_index = 0
      for (let circle of circles) { // Let's make 1 track per drum/circle
        let track = new JZZ.MIDI.SMF.MTrk();

        track.smfSeqName(this.strings.get('drums')[c_index])
        let pitch = this.$parent.midiKeys[c_index]

        let tick_increment = 4 * ticks_per_quarter / circle.ndiv
        let time = 0

        for (let i = 0; i < loop_count; i++) {
          for (let node of circle.$refs.nodes) {
            if (node.isActive) {
              track.tick(time).note(9, pitch, 100, tick_increment)
            }
            time = time + tick_increment
          }
        }
        track.tick(time).smfEndOfTrack()

        console.log(track)
        smf.push(track);
        c_index++
      }
      console.log(smf)

      let str = smf.dump(); // MIDI file dumped as a string
      let b64 = JZZ.lib.toBase64(str); // convert to base-64 string

      let uri = 'data:audio/midi;base64,' + b64; // data URI
      var element = document.createElement('a');
      element.setAttribute('href', uri);
      element.setAttribute('download', 'export.mid');

      element.style.display = 'none';
      document.body.appendChild(element);

      element.click();

      document.body.removeChild(element);
    },
    isActive(pattern, circle) {
      // Check if the nodes follow the pattern
      if (pattern.length != circle.ndiv) { // Can't follow a pattern of different length
        return false
      }
      let nodes = circle.$children
      for (let i = 0; i < pattern.length; i++) { // Check element wise
        if (pattern[i] ^ nodes[i].isActive) {
          return false
        }
      }
      return true // Match if we made it this far
    }
  },
}
</script>

<style scoped>
/* Styles importés depuis index.css */
.presets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: smaller;
  margin-top: 30px;
  gap: 10px 0;
}

.presets table {
  border: solid #ddd;
  border-radius: 5px;
  border-width: 3px;
}

.presets rect {
  fill-opacity: 10%;
  cursor: pointer;
}

/* Checkbox */
.presets svg>text {
  font-size: 10px;
  dominant-baseline: central;
  text-anchor: middle;
  cursor: pointer;
}

.export {
  text-align: center;
}
</style>