<template>
  <div>
    <div class="first-line">
      <div class="controls">
        <button @click="toggleHand()">{{ strings.get(paused ? 'play' : 'stop') }}</button>
        <div>
          <div>{{ strings.get("tempo") }}</div>
          <input v-model.number="tempo" type="number" min="1" max="99">
        </div>
        <button @click="resetAll()">{{ strings.get('reset') }}</button>
      </div>

      <svg class="clock" viewBox="-140 -140 280 280">
        <rhythm-circle v-for="n in subdivisions.keys()" :cx="0" :cy="0" :ndiv="subdivisions[n]" :key="genKey(n)"
          :radius="50+30*n" :theta="theta" :midiKey="midiKeys[n]" :track="n" ref="circles"></rhythm-circle>
        <g id="hand" :transform="transformHand">
          <polygon points="-2,0 2,0 1,140 -1,140" />
          <circle r="4" cx="0" cy="0" />
        </g>
      </svg>

      <presets @rhythm-load="loadRhythm"></presets>

    </div>

    <div class="subdiv-controls">
      <div class="division-control" v-for="k in subdivisions.keys()" :track="k">
        {{ strings.get("drums")[k] }} <img :src="pathToDrums(k)" />
        <br>
        {{ strings.get('subdivisions') }} <input v-model.number="subdivisions[k]" type="number" min="1" max="48">
        <br>
        {{ strings.get('rotation') }} <button class="plusminus" @click="shiftCounterclockwise(k)">-</button><button
          class="plusminus" @click="shiftClockwise(k)">+</button>
      </div>
    </div>
  </div>
</template>

<script>
import rhythmCircle from './rhythmCircle.vue'
import presets from './presets.vue'
import { strings } from './l12n.js'
import { TweenLite, Linear } from 'gsap'
import Vue from 'vue'

import drums0 from '../ressources/drums0.png'
import drums1 from '../ressources/drums1.png'
import drums2 from '../ressources/drums2.png'

export default {
  components: {
    rhythmCircle,
    presets
  },
  data() {
    return {
      layerCount: 3,
      cycleLength: 2,
      subdivisions: [8, 8, 16],
      t: -0.0001, // Elapsed time in s (slightly before 0 so the first beat plays)
      tempo: 30, // Tempo in measures per minute
      midiKeys: [38, 36, 44, 42, 43, 44, 45, 46], // Corrected to match the expected values
      animation: undefined,
      strings: strings,
      paused: true,
    }
  },
  computed: {
    theta() {
      return this.omega * this.t
    },
    transformHand() {
      return `rotate(${360 * (this.theta + Math.PI) / (2 * Math.PI)})`
    },
    omega() {
      return this.tempo * Math.PI * 2 / 60
    }, // Rotation speed in rad/s
  },
  methods: {
    animateHand: function () {
      this.animation = TweenLite.to(this, 1e6, {
        t: 1e6,
        ease: Linear.easeNone,
        repeat: -1
      })
      this.paused = false
    },
    pauseHand: function () {
      this.animation.pause()
      this.paused = true
    },
    toggleHand: function () {
      if (this.paused) {
        this.animateHand()
      } else {
        this.pauseHand()
      }
    },
    stopHand: function () {
      this.animation.pause()
      this.t = -0.0001
    },
    genKey(n) {
      return `circle${n}`
    },
    pathToDrums(n) {
      return [drums0, drums1, drums2][n]
      // return `ressources/drums${n}.png`
    },
    async loadRhythm(n, rhythm) {
      if (n >= this.subdivisions.length) {
        console.warn(`Attempted to load a rhythm for inexistant circle number ${n}`)
      }
      Vue.set(this.subdivisions, n, rhythm.length)
      await Vue.nextTick()
      this.$refs.circles[n].loadRhythm(rhythm)
    },
    resetAll() {
      for (let n of this.subdivisions.keys()) {
        this.$refs.circles[n].loadRhythm(Array(this.subdivisions[n]).fill(0))
      }
    },
    shiftClockwise(n) {
      // Shifts the pattern of circle n clockwise
      let nodes = this.$refs.circles[n].$refs.nodes
      let last_node_status = nodes[nodes.length - 1].isActive
      for (let node of this.$refs.circles[n].$refs.nodes) {
        [last_node_status, node.isActive] = [node.isActive, last_node_status]
      }
    },
    shiftCounterclockwise(n) {
      // Shifts the pattern of circle n clockwise
      let nodes = this.$refs.circles[n].$refs.nodes
      let last_node_status = nodes[0].isActive
      for (let i = nodes.length - 1; i >= 0; i--) {
        [last_node_status, nodes[i].isActive] = [nodes[i].isActive, last_node_status]
      }
    },
    countPageLoad() {
      let DEBUG = true;
      var xhr = new XMLHttpRequest();
      // NOTE: visit the link to check on page_loads (will increment by 1)
      xhr.open("GET", "https://api.counterapi.dev/v1/rhythm-circle/rhythm-circle_pageload/up");
      xhr.responseType = "json";
      if (DEBUG) {
        xhr.onload = function () {
          console.log(`Counted ${this.response.count} visits`);
        }
        if (location.hostname === "localhost" || location.hostname === "127.0.0.1") {
          console.log("Local host, skipping page load counter")
        } else {
          xhr.send();
        }
      }
    }
  },
  mounted() {
    this._keyListener = function (e) {
      if (e.which === 32) {
        e.preventDefault(); // present "Save Page" from getting triggered.

        this.toggleHand();
      }
    };

    document.addEventListener('keydown', this._keyListener.bind(this));
    this.countPageLoad();
  },
  beforeDestroy() {
    document.removeEventListener('keydown', this._keyListener);
  },
}
</script>

<style scoped>
/* Styles importés depuis index.css */

/* Color coding by track */
[track="0"] {
  color: #EA0437;
  stroke: #EA0437;
  fill: #EA0437;
}

[track="2"] {
  color: #0085ca;
  stroke: #0085ca;
  fill: #0085ca;
}

[track="1"] {
  color: #00AB39;
  stroke: #00AB39;
  fill: #00AB39;
}

/* First line flex */
.first-line {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px 0;
}

/* Controls section */
.controls {
  /*display: flex;*/
  text-align: justify;
  line-height: 220%;
  margin-bottom: 30px;
}

/* Mobile layout */
@media (max-width: 900px) {
  .controls {
    display: flex;
    line-height: normal;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
  }

  .controls div {
    text-align: center;
  }
}

.controls div div {
  /*Keep tempo and mpm together when breaking lines*/
  display: inline-block;
}

button {
  background-color: white;
  border: solid #ddd;
  color: black;
  font-weight: inherit;
  font-size: inherit;
  padding: 5px;
  font-family: 'Quicksand';
  cursor: pointer;
  border-radius: 5px;
  border-width: 3px;
}

/*Tempo and subdivision boxes*/
input {
  padding: 5px;
  max-width: 50px;
  background-color: white;
  border: solid #ddd;
  font-weight: inherit;
  font-size: inherit;
  text-align: center;
  color: black;
  margin: top 6px;
  border-radius: 5px;
  border-width: 3px;
}

/*Tempo only*/
.controls input {
  margin-top: 6px;
}

/*Subdivision controls*/
.subdiv-controls {
  display: flex;
  justify-content: space-evenly;
  line-height: 220%;
  flex-wrap: wrap;
}

.division-control {
  text-align: center;
  margin-top: 40px;
}

.division-control img {
  height: 60px;
  vertical-align: middle;
  margin: 10px;
}

/* Drawing section */
.clock {
  flex-basis: 320px;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  min-height: 320px;
  min-width: 320px;

  height: 100%;
  max-height: 60vh;
  max-width: 60vh;
}

circle {
  stroke-width: 2pt;
  vector-effect: non-scaling-stroke;
}

.plusminus {
  width: 30px;
  margin: 3px;
}
</style>