<template>
  <g class="rhythm-circle">
    <circle class="main-circle" :cx="cx" :cy="cy" :r="radius" />
    <rhythm-node v-for="n in [...Array(ndiv).keys()]" :key="genID(n)" :transform="posToTransform(position(n))"
      :isPlaying="playingNodes[n]" :midiKey="midiKey" ref="nodes">
    </rhythm-node>
  </g>
</template>

<script>
import rhythmNode from './rhythmNode.vue'

export default {
  components: {
    rhythmNode,
  },
  props: {
    ndiv: {
      type: Number,
      default: 8
    },
    radius: {
      type: Number,
      default: 50
    },
    innerRadius: {
      type: Number,
      default: 5
    },
    cx: {
      type: Number
    },
    cy: {
      type: Number
    },
    id: {
      type: String
    },
    theta: {
      type: Number
    },
    midiKey: {
      type: Number,
      default: 39
    }
  },
  computed: {
    playingNodes() {
      let music_time = ((this.theta / (2 * Math.PI)) % 1) * this.ndiv
      let result = Array(this.ndiv).fill(false)
      result[Math.floor(music_time)] = music_time % 1 / this.ndiv <= 0.02
      return result
    }
  },
  methods: {
    position(node) {
      let theta = -2 * Math.PI * (node / this.ndiv - 1 / 4);
      return {
        x: this.cx + this.radius * Math.cos(theta),
        y: this.cy - this.radius * Math.sin(theta)
      }
    },
    posToTransform(pos) {
      return `translate(${pos.x},${pos.y})`
    },
    genID(node) {
      return `${this.id}_inner${node}`
    },
    loadRhythm(rhythm) {
      if (rhythm.length != this.$refs.nodes.length) {
        console.warn(`Mismatch between load attempt and actual number of div:${rhythm.length} != ${this.$refs.nodes.length}`)
      }
      for (let i of rhythm.keys()) {
        this.$refs.nodes[i].isActive = rhythm[i]
      }
    }
  },
}
</script>

<style scoped>
/* Styles spécifiques à ce composant */
.main-circle {
  fill: none;
}
</style>