<template>
  <circle
    class="inner-circle"
    :class="{ active: isActive, playing: isPlaying }"
    :r="innerRadius"
    @pointerdown="toggle()"
  />
</template>

<script>
export default {
  props: {
    innerRadius: {
      type: Number,
      default: 10,
    },
    isPlaying: {
      type: Boolean,
    },
    midiKey: {
      type: Number,
      default: 39,
    },
  },
  data() {
    return {
      isActive: false,
    };
  },
  methods: {
    toggle() {
      this.isActive = !this.isActive;
    },
  },
  watch: {
    isPlaying(newValue) {
      if (this.isActive) {
        if (newValue) {
          window.synth.noteOn(9, this.midiKey, 100);
        } else {
          // window.synth.noteOff(9, this.midiKey)
        }
      }
    },
  },
};
</script>

<style scoped>
/* Styles spécifiques à ce composant */
.inner-circle {
  stroke: black;
}

.inner-circle:not(.active) {
  fill: #ddd;
}

.inner-circle.active.playing {
  fill: #FFD100;
  stroke-width: 3pt;
}
</style>