<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rhythm Circle</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="index.css">
        <link rel="icon" type="image/x-icon" href="/ressources/favicon512.png">
        <!-- <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500" rel="stylesheet"> -->
    </head>

    <body>
        <div class=header>
            <div style="background: #EA0437"></div>
            <div style="background: #00AB39"></div>
            <div style="background: #0085ca"></div>
        </div>

        <div id="main">
            <h1 v-cloak>{{ strings.get('title') }}</h1>
            <language-selector :languages="Object.keys(strings.data)" @input="strings.setLanguage($event)"></language-selector>
            
            <div>
                <rhythm-clock></rhythm-clock>
            </div>

            <credit-screen></credit-screen>
        </div>
        
        <!-- <script type="module" src="lib/fallback/fallback.js"></script> -->
        <!-- <script type="module" src="js/loadDeps.js"></script> -->
        <script type="module" src="js/index.js"></script>

    </body>
</html>