/* Author: Corentin Guichaoua */

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/quicksand-book.woff') format('woff');
  }

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/quicksand-bold.woff') format('woff');
}

#main {
    font-family: 'Quicksand';
    stroke-width: 2pt;
    
    font-weight: bold;
    font-size:18pt;
}

.header { display: flex; }
.header > * { width: 8%; flex-grow: 1; height: 20px; }


h1 { text-align: center; text-transform: uppercase; margin: 12px 0 60px; font-size: 40px; }
h2 { color:gray}


.languageSwitcher { cursor: pointer; position: fixed; top: 30px; left: 10px; font-size: 14px; color: #aaa; }
.languageSwitcher div:hover { text-decoration: underline; }


/* Color coding by track */
[track="0"]{
    color: #EA0437;
    stroke: #EA0437;
    fill: #EA0437;
}
[track="2"]{
    color: #0085ca;
    stroke: #0085ca;
    fill: #0085ca;
}
[track="1"]{
    color: #00AB39;
    stroke: #00AB39;
    fill: #00AB39;
}


/* First line flex */
.first-line {
    display:flex;
    align-items:stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px 0;
}

/* Controls section */
.controls {
    /*display: flex;*/
    text-align: justify;
    line-height: 220%;
    margin-bottom: 30px;
}

/* Mobile layout */
@media (max-width: 900px){
    .controls {
        display: flex;
        line-height: normal;
        width:100%;
        justify-content: space-between;
        gap:10px;
    }
    .controls div{
        text-align: center;
    }
}



.controls div div {
    /*Keep tempo and mpm together when breaking lines*/
    display: inline-block;
}

button {
    background-color: white;
    border:solid #ddd;
    color: black;
    font-weight: inherit;
    font-size:inherit;
    padding: 5px;
    font-family: 'Quicksand';
    cursor: pointer;
    border-radius: 5px;
    border-width: 3px;
}

/*Tempo and subdivision boxes*/
input {
    padding: 5px;
    max-width: 50px;
    background-color: white;
    border:solid #ddd;
    font-weight: inherit;
    font-size:inherit;
    text-align: center;
    color:black;
    margin: top 6px;
    border-radius: 5px;
    border-width: 3px;
}

/*Tempo only*/
.controls input{
    margin-top: 6px;
}

/*Subdivision controls*/
.subdiv-controls {
    display: flex;
    justify-content: space-evenly;
    line-height: 220%;
    flex-wrap: wrap;
}

.division-control {
    text-align: center;
    margin-top: 40px;
}

.division-control img{
    height: 60px;
    vertical-align: middle;
    margin: 10px;
}

/* Drawing section */
.clock {
    flex-basis: 320px;
    flex-grow: 2;
    display:flex;
    justify-content: center;
    min-height: 320px;
    min-width: 320px;
    
    height:100%;
    max-height: 60vh;
    max-width: 60vh;
}

circle {
    stroke-width: 2pt;
    vector-effect:non-scaling-stroke;
}

.main-circle {
    fill:none;
}

.inner-circle{
    stroke: black;
}

.inner-circle:not(.active){
    fill: #ddd;
}


.inner-circle.active.playing{
    fill:#FFD100;
    stroke-width: 3pt;
}


/* Presets section */
.presets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size:smaller;
    margin-top: 30px;
    gap: 10px 0;
}

.presets table{
    border: solid #ddd;
    border-radius: 5px;
    border-width: 3px;
}

.presets rect{
    fill-opacity: 10%;
    cursor: pointer;
}

/* Checkbox */
.presets svg > text{
    font-size: 10px;
    dominant-baseline: central;
    text-anchor: middle;
    cursor:pointer;
}

/* Credits */
.creditButton { 
    cursor: pointer; 
    float:right; 
    bottom: 30px; 
    right: 10px; 
    font-size: 14px; 
    color: #aaa;
    margin:10px 0;
}
.creditButton:hover { text-decoration: underline; }

.credits h2{
    text-transform: uppercase;
    margin: 10px 0 5px 0;
}

.credits p{
    margin: 0 0 40px 0;
}

.modal-background { position: fixed; top: 0; left: 0; bottom: 0; right: 0;
    background: rgba(0,0,0,0.6); z-index: 1; }
.modal { position: fixed; z-index: 1; background: white; border-radius: 16px; font-size: 18px;
    width: 480px; left: 50%; top: 50%; transform: translate(-50%, -50%); max-width: calc(100% - 40px);
    padding: 20px 20px 30px 20px; }
.modal hr { border: 0; border-bottom: 1px solid #ccc; }
.modal input { max-width: 100%; box-sizing: border-box; font-family: inherit; text-align: center;
    font-size: 16px; }

.export{
    text-align: center;
}

.plusminus{
    width: 30px;
    margin: 3px;
}